[submodule "src/cartesian_controllers"]
	path = src/cartesian_controllers
	url = https://github.com/ngres/cartesian_controllers.git
[submodule "src/mujoco_ros2_control"]
	path = src/mujoco_ros2_control
	url = https://github.com/ros-controls/mujoco_ros2_control.git
